*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    background: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #6ebdfd;
    padding: 18px 30px;
}

/* header and navigation styles */
.header{
    
}
nav{
    display: flex;
    float: right;
    padding: 20px 200px;
    
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    color: #fff;
}

/* banner styles */
.banner{
    padding: 220px 200px 160px 200px;
    direction: rtl;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #fff;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #fff;
}
.banner-title,.banner-description{
    width: 500px; 
}
.btn-contact{
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #6ebdfd;
    padding: 18px 30px;
    margin-left: 30px;
}

/* my failure section */
.my-failure{
    margin: 120px 200px 100px 80px;
    display: flex;
    align-items: center;
    width: 1072px;
}

.my-failure-title,.my-failure-description,.check-simble-paragraph{
    width: 416px;
}

.check-simble-paragraph{
    margin-top: 40px;
}

.my-failure-article p .fa-solid{
    color: aquamarine;
}
.my-failure-article{
    margin-left: 80px;
    margin-top: 200px;
}

.my-failure-article p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
}

.my-failure-article h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 24px;
    color: #151414;
}

/* my plan section styles */

.my-plans-container{
    display: flex;
    margin-bottom: 130px;
    gap: 80px;
    margin-left: 200px;
    
}
.my-plans-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

.plans-title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #151414;
}
.plans-description{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #737272;
}
.plans img{
    margin-left: 30px;
    margin-bottom: 20px;
}

/* call section styles */
.call-container{
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    width: 1096px;
    height: 300px;
    margin: 130px;
    border-radius: 5px;
    
    
}
.call{
    width: 450px;
    padding: 55px 60px ;
}
.call-title{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 46px;
    
}
.btn-call{
    height: 64px;
    font-size: 18px;
    font-weight: 600;
    color: #005FAC;
    border: 1px solid #6ebdfd;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 18px 30px;
    
}

/* footer section styles */
.footer-container{
    background: #151414;
    display: flex;
    padding: 100px 200px 100px 130px;
}
.future{
    width: 470px;
}
.future-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #FFFFFF;
}
.future-description{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.email{
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}
.Phone-no{
    margin-bottom: 15px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
}
.social-icon{
    display: flex;
}
.subscribe{
    margin-left: 260px;
}
.subscribe-title{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.btn-subscribe{
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    height: 64px;
    padding: 18px 30px;
    border-radius: 7px;
    background: #005FAC;
    border: 1px solid #075492;
    display: block;
    text-align: center;
}
.input-email{
    border-radius: 8px;
    border: 1px solid #b1afaf;
    width: 250px;
    color: #ffffff;
    margin-bottom: 15px;
    padding: 25px;

}

