*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    background: #fff;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid #6ebdfd;
    padding: 18px 30px;
}

/* header and navigation styles */
.header{
    
}
nav{
    display: flex;
    float: right;
    padding: 20px 200px;
    
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
    color: #fff;
}

/* banner styles */
.banner{
    padding: 220px 200px 160px 200px;
    direction: rtl;
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #fff;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
    color: #fff;
}
.banner-title,.banner-description{
    width: 500px; 
}
.btn-contact{
    height: 64px;
    border-radius: 5px;
    color: #005FAC;
    background: #fff;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #6ebdfd;
    padding: 18px 30px;
    margin-left: 30px;
}

/* my failure section */
.my-failure{
    margin: 120px 200px 100px 80px;
    display: flex;
    align-items: center;
    width: 1072px;
}

.my-failure-title,.my-failure-description,.check-simble-paragraph{
    width: 416px;
}

.check-simble-paragraph{
    margin-top: 40px;
}

.my-failure-article p .fa-solid{
    color: aquamarine;
}
.my-failure-article{
    margin-left: 80px;
    margin-top: 200px;
}

.my-failure-article p{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    line-height: 26px;
}

.my-failure-article h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 24px;
    color: #151414;
}

/* my plan section styles */

.my-plans-container{
    display: flex;
    margin-bottom: 130px;
    gap: 80px;
    margin-left: 200px;
    
}
.my-plans-title{
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #151414;
}

.plans-title{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    color: #151414;
}
.plans-description{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #737272;
}
.plans img{
    margin-left: 30px;
    margin-bottom: 20px;
}

